services:
  postgres:
    image: postgres:18-alpine
    env_file:
      - ../backend/.env.postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks: [backend]

  redis:
    image: redis:7-alpine
    networks: [backend]

networks:
  backend:

volumes:
  postgres_data:
