services:
  godapp_main:
    build:
      context: ../backend/godapp_main
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - ../backend/.env.backend.dev
      - ../backend/.env.postgres
    volumes:
      - ../backend/godapp_main:/src/godapp_main
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    networks: [backend]
