x-backend-defaults: &backend-defaults
  build:
    context: ../backend/godapp_main
  env_file:
    - ../backend/.env.backend.dev
    - ../backend/.env.postgres
    - ../backend/.env.redis
  environment:
    - DJANGO_SETTINGS_MODULE=core.settings.dev
    - REDIS_HOST=redis
    - REDIS_PORT=6379

  volumes:
    - ../backend/godapp_main:/backend/godapp_main
  depends_on:
    - postgres
    - redis
  networks: [backend]

services:
  # godapp_main:
  #   <<: *backend-defaults
  #   command: python manage.py runserver 0.0.0.0:8000
  #   ports:
  #     - "8000:8000"

  celery_worker:
    <<: *backend-defaults
    # command: celery -A core worker --loglevel=info
    command: watchmedo auto-restart --pattern=tasks.py --recursive -- celery -A core worker --loglevel=info --pool=solo

  celery_beat:
    <<: *backend-defaults
    # command: celery -A core beat --loglevel=info
    command: watchmedo auto-restart --pattern=tasks.py --recursive -- celery -A core beat --loglevel=info
