services:
  godapp_main:
    build:
      context: ../backend/src/godapp_main
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - ../backend/src/.env.backend.dev
      - ./.env.postgres
    volumes:
      - ../backend/src/godapp_main:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    networks: [backend]
